.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10vh 0 6vh;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    word-break: normal;
    overflow-wrap: break-word;
    transform: translateY(-2rem);

    @media screen and (orientation: portrait) {
        padding: 8vh 0;
    }
}
